{% extends 'base.html' %}

{% block content %}
<span class="title">{% block title %} Projects {% endblock %}</span>
    <div class="content">
        {% for project in projects %}
        <div class="post">
            <p class="title">
                <a href="/project/{{ project.project_id }}"> {{project.title}} </a>
                <form action="{{ url_for('delete_project', project_id=project.project_id)}}" method="post">
                    <input class="btn" type="submit" value="Delete">
                </form>
            </p>
        </div>
        {% endfor %}
    </div>
    <br>
    <div>
        <h3> Add new project</h3>
        <br>
        <form action="add/project" method="POST">
            <div> Project Name: <input name="project-title" type="text"></div>
            <br>
            <input type="submit" value="Add Project">
        </form>
    </div>
    {% for category,message in get_flashed_messages(with_categories=true) %}
    <div style="color: {{category}}"> {{ message }}</div>
    {% endfor %}

{% endblock %}